structAndAlgo/lacture 1/Fibomacci/ConsoleApplication1/Debug/
myTranslator/TranslateMe/TranslateMe/obj/Debug/TranslateMe.Form1.resources
myTranslator/TranslateMe/TranslateMe/obj/Debug/TranslateMe.changeApiKeys.resources
myTranslator/TranslateMe/TranslateMe/bin/Debug/TranslateMe.exe.Config
myTranslator/TranslateMe/TranslateMe/obj/Debug/TranslateMe.csproj.CopyComplete
myTranslator/TranslateMe/TranslateMe/bin/Debug/
myTranslator/TranslateMe/TranslateMe/obj/Debug/
