<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="translateKey" value="trnsl.1.1.20170904T212202Z.1a57aae24105bcc5.2bfa7f24b7a1e29a102c79c1d7793fd699f2cf53"/>
    <add key="dictionaryKey" value="dict.1.1.20170904T232538Z.0babd1ce6f13d0a2.0ca73d287b12b7e3b62238bfd7ddb48e47a2b3c9"/>
    <add key="filePath" value=""/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>